<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <module name="TreeWalker">
    <property name="fileExtensions" value="java"/>
      <module name="MethodLength">
        <property name="tokens" value="METHOD_DEF"/>
        <property name="max" value="15"/>
    </module>
    <module name="NestedIfDepth">
      <property name="max" value="1"/>
    </module>
    <module name="NestedForDepth">
      <property name="max" value="0"/>
    </module>
    <module name="LeftCurly">
      <property name="tokens" value="CLASS_DEF,METHOD_DEF,CTOR_DEF,ENUM_CONSTANT_DEF,ENUM_DEF,INTERFACE_DEF,LAMBDA,LITERAL_CASE,LITERAL_CATCH,LITERAL_DEFAULT,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_SWITCH,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE"/>
    </module>
    <module name="CyclomaticComplexity">
      <property name="max" value="3"/>
    </module>
  </module>
</module>
